<!DOCTYPE html>
<html>
<head>
    <title>Mitternachtblauer Hintergrund</title>
</head>
<body style="background-color: midnightblue; color: white;">
    <div style="display: flex;">
        <div style="background-color: white; width: 200px;">
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
                <li><a href="#">Link 5</a></li>
                <li><a href="#">Link 6</a></li>
                <li><a href="#">Link 7</a></li>
                <li><a href="#">Link 8</a></li>
                <li><a href="#">Link 9</a></li>
                <li><a href="#">Link 10</a></li>
            </ul>
        </div>
        <div>
            <h1>Willkommen auf meiner Webseite</h1>
            <p>Dies ist der Inhalt der Webseite.</p>
        </div>
    </div>
</body>
</html>
